---
interface Props {
  title: string
  description: string
  moreText: string
  moreHref: string
}

const { moreText, moreHref, title, description } = Astro.props
---

<!-- TODO: add icon on top -->
<div class="p-6 rounded-md shadow-lg transition ease-in-out delay-200 hover:-translate-y-1 hover:scale-110 duration-300">
  <h3 class="text-primary text-lg font-semibold text-center h-16">{title}</h3>
  <p class="text-sm text-justify">{description}</p>
  <a class="text-secondary text-sm font-bold underline" href={moreHref}>{moreText}</a>
</div>
