---
const year = new Date().getFullYear();
---

<footer class="bg-primary text-base-100">
  <div class="p-4">
    <p class="text-center">IlkoviÄova 2961, 841 04 Bratislava - Karlova Ves</p>
    <p class="text-center">csirt.fei@stuba.sk</p>
  </div>
  <p class="text-center p-4">&copy; {year} CSIRT FEI</p>
</footer>
