---
import { Image } from "astro:assets"
import Navigation from "./Navigation.astro"
import headerImage from "../assets/header-image.svg"
---

<div>
  <div class="bg-accent">
    <Navigation />
  </div>
  <div class="bg-accent h-[32rem] rounded-b-[100%]">
    <div class="container mx-auto px-4 flex">
      <div class="container">
        <div class="text-primary font-black">
          <span class="text-secondary">Computer</span> Security Incidents<br/>
          Response Team
        </div>
      </div>
      <div class="container">
        <Image class="mx-auto mt-12" src={headerImage} alt="header image" width="350" />
      </div>
    </div>
  </div>
</div>
