---
import { Image } from "astro:assets"

interface Props {
  name: string,
  position: string,
  image?: string,
  email: string
}

const { name, position, image, email } = Astro.props
const imageSource = image || "https://via.placeholder.com/120x180"
---

<div class="card card-side bg-base-100 shadow-xl">
  <figure>
    <Image src={imageSource} width="120" height="180" alt="Avatar image" />
  </figure>
  <div class="card-body w-80">
    <h2 class="card-title text-base">{name}</h2>
    <p class="text-sm">{position}</p>
    <p class="text-sm underline">{email}</p>
  </div>
</div>
