---
interface Props {
  title: string
  body: string
  href: string
}

const { href, title, body } = Astro.props
---

<li class="mb-4 py-2 px-3 list-none bg-base-200 rounded">
  <a href={href}>
    <h2 class="text-lg font-semibold">
      {title}
    </h2>
    <p>
      {body}
    </p>
  </a>
</li>
