---
import { t } from 'astro-i18n'
import Layout from '../../layouts/Layout.astro'

import Footer from '../../components/Footer.astro'
import PersonCard from '../../components/PersonCard.astro'
---

<Layout title={`CSIRT | ${t('nav.items.about')}`}>
  <main class="max-w-4xl mx-auto px-2 mt-4">

    <section class="my-8">
      <h2 class="text-primary font-bold text-2xl text-center mb-4" id="csirt-news">
        {t('nav.items.about')}
      </h2>

      <div class="grid gap-12 grid-cols-2">
        <p class="max-w-sm mx-auto text-justify">
          {t('pages.about.description.left')}
        </p>
        <p class="max-w-sm mx-auto text-justify">
          {t('pages.about.description.right')}
        </p>
      </div>
    </section>

    <section class="my-8">
      <h2 class="text-primary font-bold text-2xl text-center mb-4" id="csirt-news">
        {t('pages.about.management.subtitle')}
      </h2>

      <div class="grid gap-4 grid-cols-2">
        <PersonCard
          name="Ing. Štefan Balogh"
          position="Riaditeľ CSIRT FEI"
          image=""
          email="stefan.balogh@stuba.sk"/>

        <PersonCard
          name="Bc. Veronika Paulinyová"
          position="Manažér CSIRT FEI"
          image=""
          email="xpaulinyova@stuba.sk"/>

        <PersonCard
          name="Bc. Matúš Abrhan"
          position="Vedúci pracoviska - Dátová analýza"
          image=""
          email="xabrhan@stuba.sk"/>

        <PersonCard
          name="Bc. Tatiana Hýlová"
          position="Vedúci pracoviska - Training range"
          image=""
          email="xhylova@stuba.sk"/>

        <PersonCard
          name="Bc. Lukáš Šurab"
          position="Vedúci pracoviska - Sieťový monitoring"
          image=""
          email="xsurab@stuba.sk"/>

        <PersonCard
          name="Bc. Stanislava Pecková"
          position="Vedúci pracoviska - Vývoj a bezpečnosť webových aplikácií"
          image=""
          email="xpeckova@stuba.sk"/>
      </div>
    </section>

    <section class="my-8">
      <h2 class="text-primary font-bold text-2xl text-center mb-4" id="csirt-news">
        {t('pages.about.organization.subtitle')}
      </h2>

      <p class="mb-4">
        {t('pages.about.organization.description')}
      </p>
      <h4 class="font-bold">{t('pages.about.organization.teams.networkmonitoring.title')}</h4>
      <p class="indent-4 pl-2 mb-2">{t('pages.about.organization.teams.networkmonitoring.description')}</p>
      <h4 class="font-bold">{t('pages.about.organization.teams.analytics.title')}</h4>
      <p class="indent-4 pl-2  mb-2">
        {t('pages.about.organization.teams.analytics.description')}
      </p>
      <h4 class="font-bold">{t('pages.about.organization.teams.education.title')}</h4>
      <p class="indent-4 pl-2 mb-2">
        {t('pages.about.organization.teams.education.description')}
      </p>
      <h4 class="font-bold">{t('pages.about.organization.teams.development.title')}</h4>
      <p class="indent-4 pl-2 mb-2">
        {t('pages.about.organization.teams.development.description')}
      </p>
    </section>

  </main>
  <Footer />
</Layout>
