---
import Layout from '../../layouts/Layout.astro'

import Navigation from '../../components/Navigation.astro'
import Footer from '../../components/Footer.astro'
import WorkingOnIt from '../../components/WorkingOnIt.astro'
---

<Layout title="CSIRT">
  <header>
    <Navigation />
  </header>

  <main class="max-w-4xl mx-auto px-2">
    <WorkingOnIt message='About us is coming soon...' />
  </main>
  <Footer />
</Layout>
