---
import Layout from '../../layouts/Layout.astro'
import fetchApi from '../../lib/strapi'
import type Post from '../../interfaces/Post'

export async function getStaticPaths() {
  const posts = await fetchApi<Post[]>({
    endpoint: 'posts',
    wrappedByKey: 'data',
  })

  return posts.map((post) => ({
    params: { slug: post.attributes.slug },
    props: post,
  }))
}
type Props = Post

const post = Astro.props
---

<Layout title={post.attributes.title}>
  <article>
    <h1>{post.attributes.title}</h1>
    <p>{post.attributes.content}</p>
  </article>
</Layout>
