---
import Layout from '../../layouts/Layout.astro'
import marked from 'marked'
import type Post from '../../interfaces/Post'

export async function getStaticPaths() {
  const posts = await fetch(`${import.meta.env.API_URL}/items/posts`)
    .then((res) => res.json())
    .then((res) => res.data as Post[])

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }))
}
type Props = Post

const post = Astro.props
---

<Layout title={post.title}>
  <article class="max-w-4xl m-auto px-2">
    <h1 class="text-3xl mb-3">{post.title}</h1>
    <article class="prose" set:html={marked.parse(post.content)} />
  </article>
</Layout>
