---
import { t } from 'astro-i18n'
import Layout from '../../layouts/Layout.astro'

import Navigation from '../../components/Navigation.astro'
import Footer from '../../components/Footer.astro'
import WorkingOnIt from '../../components/WorkingOnIt.astro'
---

<Layout title={`CSIRT | ${t('nav.items.activity')}`}>
  <header>
    <Navigation />
  </header>

  <main class="max-w-4xl mx-auto px-2">
    <WorkingOnIt message='Activity is coming soon...' />
  </main>
  <Footer/>
</Layout>
