---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import fetchApi from '../lib/strapi'
import type Post from '../interfaces/Post'

const posts = await fetchApi<Post[]>({
  endpoint: 'posts',
  wrappedByKey: 'data',
})
---

<Layout title="Welcome to Astro.">
  <main class="p-4">
    <div>
      {
        posts.map((post) => (
          <Card
            title={post.attributes.title}
            body={post.attributes.slug}
            href={`/blog/${post.attributes.slug}`}
          />
        ))
      }
    </div>
  </main>
</Layout>
