---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
// import fetchApi from '../lib/strapi'
import type Post from '../interfaces/Post'

// const posts = await fetchApi<Post[]>({
//   endpoint: 'posts',
//   wrappedByKey: 'data',
// })

const posts = await fetch('http://directus:8055/items/post')
  .then((res) => res.json())
  .then((res) => res.data as Post[])
---

<Layout title="Welcome to Astro.">
  <main class="p-4">
    <div>
      {
        posts.map((post) => (
          <Card
            title={post.title}
            body={post.slug}
            href={`/blog/${post.slug}`}
          />
        ))
      }
    </div>
  </main>
</Layout>
