---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import { getPostsByLanguage } from '../lib/data'
import { astroI18n, t } from 'astro-i18n'

const posts = await getPostsByLanguage(astroI18n.locale)
---

<Layout title="CSIRT">
  <main class="max-w-4xl m-auto px-2">
    <h1 class="text-2xl font-semibold mb-4">{t('news')}</h1>
    <div>
      {
        posts.flatMap((post) =>
          post.translations.map((translation) => (
            <Card
              title={translation.title}
              body={post.slug}
              href={`/news/${post.slug}`}
            />
          )),
        )
      }
    </div>
  </main>
</Layout>
