---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import type Post from '../interfaces/Post'

const posts = await fetch(`${import.meta.env.API_URL}/items/posts`)
  .then((res) => res.json())
  .then((res) => res.data as Post[])
---

<Layout title="CSIRT">
  <main class="max-w-4xl m-auto px-2">
    <h1 class="text-2xl font-semibold mb-4">Posts</h1>
    <div>
      {
        posts.map((post) => (
          <Card
            title={post.title}
            body={post.slug}
            href={`/blog/${post.slug}`}
          />
        ))
      }
    </div>
  </main>
</Layout>
